<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Cadastro de vinhos</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de vinhos
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<div class="alert  alert-success  alert-dismissible" role="alert" th:unless="${#strings.isEmpty(mensagem)}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span th:text="${mensagem}">Sucesso.</span>
		</div>
		
		<form th:action="@{/vinhos/novo}" th:object="${vinho}" method="post" class="form-vertical  js-form-loading">
			
			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<th:block th:each="erro : ${#fields.detailedErrors()}">
					<div>
						<i class="fa  fa-exclamation-circle"></i>
						<span th:text="${erro.message}">Erro.</span>
					</div>
				</th:block>
			</div>
			
			<input th:field="*{codigo}" id="codigo" type="hidden" />
			
			<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
				<label for="nome" class="control-label">Nome</label>
				<input th:field="*{nome}" id="nome" type="text" class="form-control" placeholder="Vinã"/>
			</div>
	
			<div class="row">
				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('tipo')} ? has-error">
					<label for="tipo" class="control-label">Tipo</label>
					<select th:field="*{tipo}" id="tipo" class="form-control">
						<option value="" selected="selected">Escolha o tipo</option>
						<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.descricao}"></option>
					</select>
				</div>
				
				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('safra')} ? has-error">
					<label for="safra" class="control-label">Safra</label>
					<input th:field="*{safra}" id="safra" type="number" class="form-control" placeholder="2015"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('volume')} ? has-error">
					<label for="volume" class="control-label">Volume</label>
					<input th:field="*{volume}" id="volume" type="number" class="form-control" placeholder="(ml)"/>
				</div>
				
				<div class="form-group col-sm-6" th:classappend="${#fields.hasErrors('valor')} ? has-error">
					<label for="valor" class="control-label">Valor</label>
					<input th:field="*{valor}" id="valor" type="number" class="form-control" placeholder="R$"/>
				</div>
			</div>
	
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a href="#" class="btn  btn-default">Cancelar</a>
				<a th:href="@{/vinhos/deletar/{codigo}(codigo=${vinho.codigo})}" class="btn  btn-link  aw-btn-link-danger">Excluir este produto</a>
			</div>
	
		</form>
	</div>

</section>
</body>
</html>